@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Efectos hover para las tarjetas del conductor */
.group:hover {
  transform: translateY(-2px);
}

/* Efecto Oscuro Invertido para los Tiles de OpenStreetMap (Estilo Radar Admin/Dark Mode) */
.map-tiles-dark {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

/* Ocultar el panel de leaflet-routing-machine */
.leaflet-routing-container {
    display: none !important;
}
